/* shared style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

/* nav related styles  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}

.nav-tilte {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* header related style  */
.header{
    background: #FFF8F3;
}

.banner {
    padding: 20px 20px 20px 80px;
    display: flex;
    align-items: center;
}

.banner img{
    width: 500px;
}